<h1><%= @restaurant.name %></h1>


<p><%= @restaurant.address %></p>
<p><%= @restaurant.rating %></p>

<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<br>
<%= link_to "See All", restaurants_path %>
<br>
<%= link_to "Delete", restaurant_path(@restaurant), method: :delete %>
